/*public */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clrfix{
    clear: both;
}
.navbar{
    padding-top:10px ;
    padding-bottom:10px;
    background-color: black;
}
.navbar .logo{
    float: left;
    padding-top:6px;
}
.navbar .list{
    float: right;
    padding-top: 10px;
}
.logo img{
    width: 60%;
}
.list li{
    float: left;
    list-style: none;
    margin-right:40px ;
}
.navbar .list a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size:large;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin: auto;

}
.portfolio{
    background-color: white;
    text-align: center;
}
.portfolio-item{
    float: left;
    width: 33.33%;
    padding-right: 20px;
}
.portfolio img{
    display: block;
    width: 100%;
}
.portfolio h2{
    text-transform: uppercase;
    font-size: 40px;
    font-family:'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.portfolio p{
    font-style: italic;
    color: gray;
    margin-bottom: 10px;
}